In [1]:
import datetime as dt
import mysql.connector

In [9]:
%%time
total_millis = 0
testing_amount = 5
dataset = "small"


for i in range(testing_amount):
    cnx = mysql.connector.connect(user='root', password="root", database='thesis')
    cursor = cnx.cursor()

    query_narrow = ("SELECT MeterId, max(Datetime) \
                FROM thesis." + dataset + "_narrow \
                GROUP BY MeterId \
                ORDER BY MeterId ASC;")

    query_wide = ("SELECT RecordName, MeterId, Type, max(Datetime) \
            FROM thesis." + dataset + "_wide \
            GROUP BY RecordName, MeterId, Type \
            ORDER BY RecordName, Type ASC;")
    start = dt.datetime.now()
    cursor.execute(query_narrow)
    end = dt.datetime.now()
    delta = end - start
    
    total_millis += delta.seconds*1000 + (delta.microseconds / 1000)
    print "Query " + str(i+1) + " executed in " + str(delta.seconds*1000 + (delta.microseconds / 1000)) + "ms"
    print str(delta.microseconds) + "µs"

    #for i in cursor:
        #print i

    #cursor.close()
    cnx.close()

print "Total time:\t" + str(total_millis) + "ms"
print "Avg time:\t" + str(total_millis/testing_amount) + "ms"

Query 1 executed in 17ms
17625µs
Query 2 executed in 12ms
12167µs
Query 3 executed in 13ms
13168µs
Query 4 executed in 6ms
6217µs
Query 5 executed in 14ms
14174µs
Total time:	62ms
Avg time:	12ms
CPU times: user 16 ms, sys: 4 ms, total: 20 ms
Wall time: 87.3 ms

In [19]:
cnx.close()

In [10]:
%%time
total_millis = 0
testing_amount = 5
dataset = "large"


for i in range(testing_amount):
    cnx = mysql.connector.connect(user='root', password="root", database='thesis')
    cursor = cnx.cursor()

    query_wide = ('SELECT RecordName, Type, Unit, StreetAddress, SUM(Consumption) AS Total_Consumption \
                    FROM thesis.'+ dataset +'_wide \
                    WHERE StreetAddress LIKE "%Zwart%" \
                    AND Datetime > TIMESTAMP("2015-01-01 00:00:00") \
                    AND Datetime < TIMESTAMP("2015-01-08 00:00:00") \
                    GROUP BY RecordName, Type, Unit, StreetAddress;')
    start = dt.datetime.now()
    cursor.execute(query_wide)
    end = dt.datetime.now()
    delta = end - start
    
    total_millis += delta.seconds*1000 + (delta.microseconds / 1000)
    print "Query " + str(i+1) + " executed in " + str(delta.seconds*1000 + (delta.microseconds / 1000)) + "ms"
    print str(delta.microseconds) + "µs"

    #for i in cursor:
        #print i

    #cursor.close()
    cnx.close()

print "Total time:\t" + str(total_millis) + "ms"
print "Avg time:\t" + str(total_millis/testing_amount) + "ms"

Query 1 executed in 11353ms
353862µs
Query 2 executed in 11582ms
582739µs
Query 3 executed in 11615ms
615984µs
Query 4 executed in 11258ms
258140µs
Query 5 executed in 11234ms
234984µs
Total time:	57042ms
Avg time:	11408ms
CPU times: user 28 ms, sys: 8 ms, total: 36 ms
Wall time: 57.1 s