In [ ]:
import mysql.connector
import pandas as pd
import numpy as np
import datetime as dt
import random
from tqdm import tqdm

In [ ]:
cnx = mysql.connector.connect(host='localhost', user='root', password="root", database='Thesis')
cursor = cnx.cursor()
INSERT_MAX = 1000
dataset = "small_wide"

with open("/media/matteus/Data/testing_"+ dataset +".csv") as f:
    header = True;
    value_list = []
    iterations = 0
    for line in tqdm(f):
        if header:
            header = False
            continue
        data = line.split(",")
        content = "("
        for i in range(len(data)):
            if i == 0:
                content += r'TIMESTAMP("' + data[i] + r'")'
                continue
            elif i==1 or i==12 or i==13 or i==14 or i==18 or i==19 or i==28:
                content += "," + data[i]
                continue
            else:
                content += r',"' + data[i].rstrip() + r'"'
        content += ")"
        value_list.append(content)
        iterations += 1
        
        if iterations >= INSERT_MAX:
            value_query = ""
            for temp in value_list:
                value_query += temp + ","
            query = "INSERT IGNORE INTO Thesis."+ dataset +" VALUES " + value_query[:-1] + ";"
            #print query
            cursor.execute(query)     
            cnx.commit()
            value_list = []
            iterations = 0
            #print "Query executed"
            
        """
        if len(value_list) == 5:
            break
        """
    if len(value_list) != 0:
        value_query = ""
        for temp in value_list:
            value_query += temp + ","
        query = "INSERT IGNORE INTO Thesis."+ dataset +" VALUES " + value_query[:-1] + ";"
        #print query
        cursor.execute(query)     
        cnx.commit()
cursor.close()
cnx.close()

In [ ]:
cnx.close()